/*
Author: Keith Alpichi
Author URI: www.keithalpichi.com
To Do:
- change font px to em, use % when possible 
especially for blocks and sections
- use media queries
 */
*, *:before, *:after, {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Droid Sans', Roboto, Arial;
  font-size: 100%;
  color: #000;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
  line-height: 1.4;
}

 li {
  padding: .5em;
}

main {
  width: 90%;
  margin: 0 auto;
  clear: both;
}

section {
  text-align: center;
  padding: 1em 0;
  width: 100%;
  margin: 0 auto;
}

nav ul {
  letter-spacing: 1px;
  list-style-type: none;
  overflow: hidden;
  float: right;
  margin: 1em;
}

nav li a {
  font-size: .75em;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
}

button {
  border: none;
  border-radius: .5em;
  background-color: #19b5fe;
  font-size: 1em;
  padding: 1em;
  max-width: 75%;
  margin: .25em auto;
  text-align: center;
  text-decoration: none;
  display: block;
}

button#bf {
  display: inline-block;
}

input {
  border-radius: .25em;
  padding: 1em;
  text-align: center;
  display: inline-block;
  width: auto;
  margin: 0 auto;
}

button:hover {
  background-color: #1894cd;
  color: #fff;
}

.button-select {
  background-color: #19b5fe;
}

.hidden {
  display: none;
}

.inactive {
  background-color: #808080;
  transition: all .75s ease;
  -webkit-transition: all .75s ease;
  -moz-transition: all .75s ease;
}

.pa-factor label {
  display: block;
}

.cals-macs ul {
  list-style-type: none;
  text-align: center;
}
/*
 Place media queries here. 
 Change when width < 435. Is in portrait mode
 Change when width < 773. Is in landscape mode.
 */
@media (min-width: 400px) {
  button, input {
    display: inline-block;
  }
  #site-link {
    font-size: 1.5em;
  }
}

@media (min-width: 500px) {
  heading {
    font-size: 2em; 
  }
  subheading {
    font-size: 1.25em; 
  }
  button {
    margin: .25em auto;
  }
}

@media (min-width: 600px) {
  heading {
    font-size: 2.5em; 
  }
  subheading {
    font-size: 1.875em; 
  }
  p {
    font-size: 1.25em;
  }
}
